/.idea/*
/week_tsk_1/test.txt
/week_tsk_2/tsk3.1/users.json
/week_tsk_2/tsk3.2/burgers/backend/bdData.txt
/week_tsk_3/vendor/
/week_tsk_3/uploads/
/week_tsk_3/log/
/week_tsk_4/vendor/
/week_tsk_4/app/Controller/View/6b/

week_tsk_4/app/Controller/View/44/44a98caa33564f9aaf51a3484f999be2.php
